/* .Features-you-will {
     background-image: url(../images/architect.png);
     background-repeat: no-repeat;
     background-size: auto;
     background-position: bottom 2.6vw right 10.14vw;
     gap: 0px;
 }

 .Features-you-will-love {
     display: flex;
     justify-content: space-evenly;
     align-items: flex-end;
 }

 .title-f h1 {
     font-weight: 700;
     font-size: 45px;
     color: #131313;
     margin-bottom: 24px;
 }

 .par-f p {
     width: 30.5vw;
     height: 78px;
     color: #727272;
     margin-bottom: 20px;
 }

 .info {
     width: 586px;
     height: 171px;
     background: #FFFFFF;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     border-radius: 5px;
     margin-bottom: 20px;
     padding: 30;
 }

 .info-title {
     padding: 30px;
 }

 .info-title h1 {
     font-weight: 600;
     font-size: 20px;
     color: #131313;
     margin-bottom: 10px;
 }

 .info-title p {
     font-weight: 400;
     font-size: 16px;
     color: #727272;
 }

 .features {
     margin-left: 103px;
 }

 .yr {
     margin-right: 26.1vw;
     margin-bottom: -19px;
 }

 .btn-2 {
     width: 342px;
     height: 200px;
     background: #FF900E;
     border-radius: 8px;
     text-align: center;
     color: #FFFFFF;
 }

 .yrinfo {
     padding: 46px 42px 45px 42px;
 }

 .yrinfo h1 {
     font-weight: 700;
     font-size: 65px;
 }

 .yrinfo h3 {
     font-weight: 500;
     font-size: 25px;
 } */